@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.post {
  p {
    @apply text-base
      text-foreground-default 
      md:text-xl 
      md:leading-normal 
      py-2;
  }

  a {
    @apply text-primary-default 
      underline
      duration-200
      font-bold 
      hover:text-primary-dark 
      focus:text-primary-dark;
  }
}

a {
  @apply text-primary-default 
    underline
    duration-200
    font-bold 
    hover:text-primary-dark 
    focus:text-primary-dark;
}
